@{
}
<div class="text-center">
    <h2>List of avaliable functions:</h2>
    <p><a href="/home/GetAllGoodsOfLongestNameBuyer">GetAllGoodsOfLongestNameBuyer</a></p>
    <p><a href="/home/GetMinimumNumberOfShopsInCountry">GetMinimumNumberOfShopsInCountry</a></p>
    <p><a href="/home/GetMinimumSalesCity">GetMinimumSalesCity</a></p>
    <p><a href="/home/GetMostExpensiveGoodCategory">GetMostExpensiveGoodCategory</a></p>
    <p><a href="/home/GetMostPopularGoodBuyers">GetMostPopularGoodBuyers</a></p>
    <p><a href="/home/GetOtherCitySales">GetOtherCitySales</a></p>
    <p><a href="/home/GetTotalSalesValue">GetTotalSalesValue</a></p>
    <h2>List of avaliable databases:</h2>
    <p><a href="/home/GetTableShops">Shops</a> <a href="/home/GetTableBuyers">Buyers</a> <a href="/home/GetTableGoods">Goods</a> <a href="/home/GetTableSales">Sales</a></p>
</div>
