@{
}
<div class="text-center">
    <h2>Shops:</h2>
    <p><a href="/home/application">Back to the list of functions</a></p>
</div>
<ul>
    @foreach (var t in (IEnumerable<string>)ViewData["output"])
    {
                <li>@t</li>
    }
</ul>